.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list__fallback {
  color: white;
  text-align: center;
}

.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}

.expense-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  background-color: #4b4b4b;
}

 .expense-item .expense-item__top{
  display: flex;
  justify-content:flex-end;
 }

.expense-item .expense-item__top button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #b465d9;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.8rem 1rem;

  
  transition: all 0.2s ease-in-out;
}
.expense-item button:hover {
  transform: scale(1.1);
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.expense-item button img {
  width: 1.2rem;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.expense-item__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.expense-item__info {
  display: flex;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 0.5rem;
  color: white;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 500px) {
  .expense-item__info {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
  .expense-item button {
    width: 2rem;
    height: 2rem;
      margin-left: 91%;
  }
  .expense-item button img {
    width: 1.5rem;
    height: 1.5rem;

  }
}
